### Application specific
bin


### https://raw.github.com/github/gitignore/cdfa89334df7e99dcf85ad8ecade7e14f498612f/Global/Vim.gitignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### https://raw.github.com/github/gitignore/cdfa89334df7e99dcf85ad8ecade7e14f498612f/Global/Linux.gitignore

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### https://raw.github.com/github/gitignore/cdfa89334df7e99dcf85ad8ecade7e14f498612f/Java.gitignore

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### https://raw.github.com/github/gitignore/cdfa89334df7e99dcf85ad8ecade7e14f498612f/Gradle.gitignore

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


